body{
    margin:0 auto;
    width: auto;
}
/* For desktop: */
@media screen and (min-width: 480px) {
        .header{
            width: 100%;
            justify-content: center;
            color: #FFFFFF;
            list-style-type: none;
            padding-top: 50px;
        }
        a.projects{
            margin-top:30px;
            font-size: 20px;
            text-transform: uppercase;
            color: #FFFFFF;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }
        ul,li{
            width: 100%;
            justify-content: center;
            color:#FFFFFF;
            list-style-type: none; 
            display:inline;
            text-decoration: none;
            text-align: center;
            padding-top:50px;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }
        ul.list{
            letter-spacingitg: 0.2em;
        }
        a.list{
            width: 100%;
            justify-content: center;
            color:#FFFFFF;
            text-decoration: none;
            padding-left:25px;
            letter-spacing: 0.2em;
        
        }
        ul li a:hover{text-decoration: underline;}
    }
  
.FirstSection{
    display: block;
    background-image:url("../assets/Desktop_Backgrounds_1920x1200_6 3.png");
    height: 822px;
    background-position: center;
    background-size: cover;
}
.logoBig{
    display: block;
    width: 63px;
    height: 63px;
    padding-top: 250px;
    margin: 0 auto;
}
h1.First{
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    width: 350px;
    height: 118px;
    left: 407px;
    top: 328px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
}
h2.First{
    display:block;
    margin:0 auto;
    text-align: center;
    height: 56px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px; 
    color: rgba(255, 255, 255, 0.7); 
}
.SecondSection{
display: block;
height: 700px;
left: 10px;
top: 829px;
background: #EEEEEE;
}
h2.Second{
   /* This is the Section Headline, Continues to Two Lines */

display: block;
left: 265px;
top:87px;


font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
/* or 133% */
text-align: center;

color: #464547;
margin: 0 auto;
padding-top: 20px;
 
}
h3.Second{
/* Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod. */

display: block;
left: 387px;
top: 246px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */
text-align: center;

color: #666666;   
}
.Flex{
  display: flex;
  flex-wrap: wrap;
}
p.Second{
    flex: 20%;
    padding: 20px;
}
p.SecondF{
    flex: 20%;
    padding: 20px;
}
button.Second{
    display: block;
    margin: 0 auto;
    margin-top: 75px;
    background: #55C2D8;
    border-radius: 18px;
    font-family: 'Oswald Regular';
    font-size: 14px;
    line-height: 26px;
    /* or 186% */
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    }
    .ThirdSection{
        background-image:url("../assets/section3_bg.png");
        display: block;
        }
    h2.Third{
        display: block;
        margin:0 auto;
        padding-top: 92px;
        font-size: 50px;
        text-align: center;
        color: #FFFFFF;
    }
    .play{
    background-image:url("../assets/Learn-more-button.png");
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    border: 0px;
    }
    
    h3.Third{
        margin-top:70px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;
    }
    .footer{
        display: flex;
        width: 100%;
        height: 250px;
        top:650px;
        background: #464547; 
        color: rgba(255, 255, 255, 0.4);
    }
    p.footer{
        flex: 25%;
        height: 16px;
        top: 2187px;
        padding-left: 150px;
        padding-top:50px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        /* identical to box height, or 89% */
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;  
    }
    i{
        padding-top:50px;  
    }
    p.reserved{
        flex: 25%;
        color: rgba(255, 255, 255, 0.4);
        padding-left: -120px;
        padding-top: 160px;
    }
    a.website{
        flex: 25%;
        color: rgba(255, 255, 255, 0.4);
    }

    /**
    * navigation menu css
    */
      /* For mobile phones: */
    .menu-toggle {
        display: none;
    }

    .navigation {
        display: inline-flex;
        align-items: center;
        width: 100%;
    }

    .navigation > .left-menu, .list-menu {
        margin-left: 10%;
    }


    @media screen and (max-width: 480px ) {
        .navigation {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 40%;
            margin-top: 10px;
        }

        .header{
           font-size:0;
           background-image: url();
         }

         .menu-toggle {
            display: flex !important;
            margin-top: 10px;
            cursor: pointer;
            flex-direction: row-reverse;
            justify-content: left;
        }
        .menu-toggle button {
            border: 0;
            background: rgb(25 21 21 / 0%);
        }
        .menu-toggle svg {
            color: #000000;
        }
        .list-menu {
            display: none;
        }
        h2.Second{
            font-size: 38px;
        }
        .SecondSection{
            height:1100px;
        }
        i {
            margin-left: -120px;
            padding-top: 10px;
            text-align: center;
        } 
        footer {
            justify-content: center;
        }
        footer .footer-info{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: #464547; 
            color: rgba(255, 255, 255, 0.4);
        }
        footer .address-section {
            display: flex;
            justify-content: center;
        }
        footer i {
            justify-content: center;
            margin: 0 auto !important;
            padding: 0 !important;
        }
        a.projects{
            font-size: 20px;
            text-transform: uppercase;
            color: #FFFFFF;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }
    }
    p.footer{
        flex: 25%;
        height: 16px;
        top: 2187px;
        padding-left: 150px;
        padding-top:50px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        /* identical to box height, or 89% */
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;  
    }
    i{
        padding-top:50px;  
    }
    p.reserved{
        flex: 25%;
        color: rgba(255, 255, 255, 0.4);
        padding-left: -120px;
        padding-top: 160px;
    }
    a.website{
        flex: 25%;
        color: rgba(255, 255, 255, 0.4);
    }
    @media screen and (min-width: 480px ) {
        footer{
            display: flex;
            width: 100%;
            height: auto;
            padding: 10px;
            background: #464547; 
            color: rgba(255, 255, 255, 0.4);
        }
        footer .footer-info {
            display: flex;
            flex-direction: row;
            flex: 3 1 auto;
            flex-wrap: nowrap;
            align-content: flex-start;
            justify-content: space-between;
            align-items: flex-start;
        }
        footer .footer-info .address-section {
            padding-top: 50px;
        }
        footer .footer-info .reserved {
            padding-top: 100px;
        }
    }
    
    p.footer{
        flex: 25%;
        height: 16px;
        top: 2187px;
        padding-left: 150px;
        padding-top:50px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        /* identical to box height, or 89% */
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;  
    }
    i{
        padding-top:50px;  
    }
    p.reserved{
        flex: 25%;
        color: rgba(255, 255, 255, 0.4);
        padding-left: -120px;
        padding-top: 160px;
    }
    a.website{
        flex: 25%;
        color: rgba(255, 255, 255, 0.4);
    }
        
    